{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="">
        <h2>
            <a href="{% url 'backoffice:suggestion_delete' suggestion.pk %}"> {{ suggestion.topic }}</a>
        </h2>
        {{ suggestion.title }}
        <p>{{ suggestion.body }}</p>
        <p>{{ suggestion.first_name }}</p>
        <p>{{ suggestion.last_name }}</p>
        <p>{{ suggestion.type }}</p>
        <p>{{ suggestion.email }}</p>
        <p>{{ suggestion.pub_date }}</p>
  </div>

{% endblock content %}