{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% for suggestion in suggestions %}
        <div class="">
            <h2><a href="{% url 'suggestion:suggestion_detail' suggestion.pk %}">{{ suggestion.topic }}</a></h2>
            <p>{{ suggestion.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}